/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.row33 > div {
    float: left;
    width: 30%;
    height: 200px;
    border: 1px solid black;
}

div.row33 div.option2 {
    margin: 40px 5% 0;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.button {
    background-color: rgb(54, 54, 241);
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}

.button.button-white {
    background-color: white;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    border: 1px solid black;
}

.container {
    width: 80%;
    margin: auto;
}

a i {
    color: black;
    font-size: 30px;
}
/* Fine regole generali */

/* Inizio regole header */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    border-bottom: 2px solid white;
    box-sizing: content-box;
}

header div {
    width: 50%;
    display: inline-block;
    height: 100%;
    line-height: 100%;
}

.left-header, .right-header {
    float: left;
    background-color: white;
    height: 100%;
    line-height: 70px;
    vertical-align: middle;
    padding: 0 20px;
}

.right-header {
    text-align: right;
}

header a img {
    vertical-align: middle;
}
    /* Sottomenu header */
.undermenu {
    display: none;
    position: absolute;
    left: 0;
    bottom: -70px;
    width: 100%;
    min-width: 90px;
    max-width: 130px;
}

header nav ul li:hover .undermenu {
    display: block;
}

.undermenu a {
    width: 100%;
    display: block;
    padding: 10px;
    text-align: left;
    background-color: #CAFAFE;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.undermenu a:hover {
    background-color: #80fdf5;
}

.first-undermenu {
    border-top: 2px solid black;
    border-top-right-radius: 15px;
}

.last-undermenu {
    border-bottom: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header nav ul li:hover a.btn {
    box-shadow: inset 0px -4px 0px 0px rgb(80, 80, 255);
}

/* Fine regole header */

/* Inizio regole jumbotron */
section.jumbotron {
    margin-top: 70px;
    width: 100%;
    height: 500px;
    float: left;
    background-color: rgba(180,208,231,255);
}

.jumbotron div.container {
    height: 500px;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.jumbotron-top {
    width: 100%;
    font-size: 2.5rem;
}

.jumbotron-left, .jumbotron-right {
    float: left;
}

.jumbotron-left {
    width: 35%;
    padding: 20px 40px 0 0;
}

.jumbotron-left p {
    margin: 0 0 20px 0;
}

.jumbotron-left span {
    display: block;
    margin: 20px 0 0;
    font-size: 0.8rem;
}

.jumbotron-right {
    height: 350px;
    width: 65%;
    margin-top: 25px;
}

.jumbotron-right img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
/* Fine regole jumbotron */

/* Inizio regole main */

    /* Inizio prima pagina */
    /* Top */
.top-firstpage {
    width: 100%;
    margin-top: 200px;
}

.top-firstpage h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

    /* Fatturazione */
.top-firstpage input {
    margin: 0 0 0 10px;
}

.top-firstpage label {
    font-size: 0.9rem;
}

    /* Div piani tariffari */
.central-firstpage div {
    margin: 40px 0 50px;
    height: auto;
    border: 1px solid rgb(196, 194, 194);
    text-align: center;
}

div.options div.content-options {
    margin: 0;
    text-align: left;
}

.central-firstpage div span.users-option {
    display: block;
    padding: 10px 0;
    border: 1px solid rgb(196, 194, 194);    
}

.content-options {
    padding: 20px 20px 80px 20px;
} 

    /* Titolo Professional, Standard o Advanced */
.content-options h3 {
    font-size: 1.5rem;
}

.content-options span {
    display: block;
}

    /* Prezzi */
.prices {
    margin: 15px 0 5px;
    font-weight: bold;
}

.periodo-fatturazione {
    color: rgb(121, 121, 121);
    font-size: 0.8rem;
}

    /* Prima lista */
ul.first-list li {
    font-size: 2rem;
    margin-left: 20px;
    padding-top: 10px;
}

ul.first-list li span {
    font-size: 0.8rem;
    margin-left: -3px;
}

ul.first-list .user{
    list-style-image: url('img/user-regular.svg');
}

ul.first-list .folder{
    list-style-image: url('img/folder-regular.svg');
}

ul.first-list .pencil{
    list-style-image: url('img/pencil-alt-solid.svg');
}

    /* Pulsante blu */
.content-options a.button {
    display: inline-block;
    margin: 40px 0 20px;
}

    /* Acquista ora */
.content-options span.buynow {
    font-size: 0.8rem;
}

.content-options span.buynow a {
    color: blue;
}

    /* Linea di separazione */
.content-options hr {
    width: 20%;
    margin: 20px 0;
    color: rgb(196, 194, 194);
}

    /* Punti salienti del piano */
.content-options h4 {
    margin-bottom: 20px;
}

    /* Seconda lista */
ul.second-list {
    list-style-image: url(img/check-solid.svg);
}

ul.second-list li {
    font-size: 2rem;
    margin-left: 20px;
    padding-top: 10px;
    color: blue;
}

ul.second-list li span{
    font-size: 0.8rem;
    margin-left: -3px;
    color: black;
}
    /* Div 100% in fondo a tre colonne */
.bottom-firstpage {
    width: 100%;
    height: auto;
    border: 2px solid rgb(196, 194, 194);
}

.bottom-firstpage .content-options {
    padding-bottom: 30px;
}

main .bottom-firstpage .options {
    text-align: center;
}

.bottom-firstpage .content-options h3 {
    display: inline;
}

.bottom-firstpage .content-options a.button {
    margin: 0;
    font-size: 1rem;
    padding: 5px 30px;
    float: right;
}

.bottom-firstpage .options > span {
    display: block;
    border-bottom: 2px solid rgb(196, 194, 194);
    padding: 10px 0;
}

span.text-bottom-firstpage {
    margin-top: 30px;
    color: black;
}
    /* Fine prima pagina */

    /* Inizio seconda pagina */
    /* Immagine con testo a destra */
.secondpage {
    margin: 100px 0;
}

.box-img div {
    float: left;
}

.img-55 {
    width: 55%;
    height: 550px;
}

.img-55 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-45 {
    width: 45%;
    padding: 4%;
}

.text-45 span {
    display: block;
    margin: 30px 0;
}
    /* Titolo 6 colonne */
.secondpage .title-allpage {
    width: 100%;
    margin: 100px 0 0;
    font-size: 1.7rem;
}
    /* Fine seconda pagina */

    /* Inizio terza pagina */

main div.row33 div.card.option2 {
    margin-top: 0;
}    

.thirdpage div.card {
    height: 600px;
    margin: 0px 0 50px;
}

.topcard {
    width: 100%;
    height: 40%;
}

.topcard img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bottomcard {
    width: 100%;
    height: 60%;
    background-color: lightseagreen;
}
    /* Fine terza pagina */

    /* Inizio quarta pagina */

div.sponsor {
    width: calc(100vw - (100vw - 100%));
}

div.sponsor > div {
    width: 33.33%;
    height: calc(100vw / 3.33);
}

.sponsor .left-sponsor {
    background-color: lightblue;
}

.sponsor .left-sponsor div {
    height: 50%;
    width: 50%;
    float: left;
    border: 1px solid black;
}

.sponsor .central-sponsor {
    background-color: lightpink;
}

.sponsor .right-sponsor {
    background-color: lightslategray;
}

.sponsor .right-sponsor div {
    height: 50%;
    width: 50%;
    float: left;
    border: 1px solid black;
}

.box-img.fourthpage {
}
    /* Fine quarta pagina */

    /* Inizio quinta pagina */

.faq {
    height: 400px;
    margin: 80px 0;
    background-color: lightcyan;
}    
/* Fine regole main */

/* Inizio regole footer */
footer nav {
    display: block;
}

footer {
    background-color: yellow;
    width: 100%;
    height: 350px;
}

footer div.container {
    width: 90%;
}

footer nav div {
    float: left;
    width: 20%;
    height: 200px;
    border: 1px solid black;
}

footer .bottom-page {
    width: 15%;
    height: 100px;
    background-color: lightcoral;
}
    /* Fine quinta pagina */

/* Fine regole footer */

