/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
/* Fine regole generali */

/* Inizio regole header */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
}

header div {
    width: 50%;
    display: inline-block;
    height: 100%;
    line-height: 100%;
}

.left-header {
    float: left;
    background-color: lightcoral;
}

.right-header {
    float: right;
    background-color: lightcyan;
}
/* Fine regole header */

/* Inizio regole jumbotron */
/* Fine regole jumbotron */

/* Inizio regole main */
/* Fine regole main */

/* Inizio regole footer */
/* Fine regole footer */

